span {
    color: white;
    font-size: 30px;
}

p {
    color: white;
    border: transparent solid 1px;
    font-style: bold;
    text-align: center;
    font-size: 15px;
}

.msg-info {
    color: black;
    border: transparent solid 1px;
    background-color: white;
    display: block;
    float: left;
}

h2 {
    color: white;
    margin-top:30px;
}

.block-container {
    background-image: url("./images/background.jpg");
    text-align: center;

}


button p{
    text-align: center;
}

h1 {
    color: white;
}

.css-2ykyy6.egzxvld0 {
    background-color: white;
    color:black;
}

.css-z3au9t.egzxvld1 {
    color: black;
}

