span {
    color: black;
    font-size: 30px;
}

p {
    color: black;
    border: transparent solid 1px;
    font-style: bold;
    text-align: center;
    font-size: 15px;
}

.msg-info {
    color: black;
    border: black solid 1px;
    background-color: lightgray;
    display: block;
    float: left;
}

h2 {
    color: black;
    margin-top:30px;
}

button p{
    text-align: center;
}

h1 {
    color: black;
}

.css-2ykyy6.egzxvld0 {
    background-color: black;
    color:black;
}

.css-z3au9t.egzxvld1 {
    color: black;
}
